.wrapper-list {
  margin-bottom: 125px;

  .relative {
    position: relative;
  }
}

[class^="svg-"] {
  width: 30px;
}

.svg-privacy {
  position: absolute;
  bottom: 0;
  right: 8px;
}

@media screen and (min-width: 40em) {
  .wrapper-list {
    margin-bottom: 108px;
  }
}

